services:
  authenticator: Clovnrian\Loginator\LoginatorAuthenticator

  signInControl.factory:
    class: Clovnrian\Loginator\Components\SignIn\SignInControl
    implement: Clovnrian\Loginator\Components\SignIn\ISignInControlFactory